<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}{% endblock %}</title>
	</head>
	<body>
		<div class="headerwrapper">
			<div class="header">
				<img src="/static/pictures/logo.png" />
				<div class="fleft">
					<div class="nav"></div>
				</div>
			</div>
		</div>
		<div class="stagewrapper">
			<div class="stage">
				{% block stage %}
				
				{% endblock %}
			</div>
		</div>
		{% if authed %}
		<div class="userinfowrapper">
			<div class="userinfo">
				<img src="{{ user.profile.gravantar_path }}" class="gravantar" />
				<dl>
					<dt>{{ user }}</dt>
					<dd>{{ user.profile.profile }}</dd>
					{% if user.keywords.all %}
					<dd class='keywords'>
						{% for keyword in user.keywords.all %}
						<a href="">{{ keyword }}</a>	
						{% endfor %}
					</dd>
					{% endif %}
				</dl>
			</div>
		</div>
		{% endif %}
		<div class="bottomwrapper">
			<div class="bottom"></div>
		</div>
		<div class="footerwrapper">
			<div class="footer"></div>
		</div>
	</body>
</html>
