{% extends "pictures/index.html" %}
{% block title %}
Photo: {{ image }}
{% endblock %}
{% block style %}
body{font-family:courier;color:#999}
#mainframe{
width:720px;
margin:0 auto 0 auto;
}
#footer{
text-align:right;
border-top:dashed 2px #ccc;
}
#content{
min-height:400px;
border-top:dashed 2px #ccc;
}
ul{
margin:0;
padding:0;
}
li,dt{
list-style:none;
margin:5px 0;
padding:5px;
text-align:right;
}
a,dt{
color:#333;
font-weight:bold;
text-transform:uppercase;
}
h1{
margin:0;
}
#day{
font-size:3em;
background:url(/static/images/day.png) no-repeat -10px #399dfa;
color:#fff;
}
#time{
font-size:1.5em;
background:url(/static/images/time.png) no-repeat -10px 0 #39fa6a;
color:#fff;
}
#moreimages{
background-color:#eee;
border:solid 1px #ccc;
padding:10px;
}
#moreimages a{
text-decoration:none;
}
#moreimageright{
background: #fa3966;
font-size:3em;
color:#fff;
}
.edit{
background-color:#eee;
border:solid 1px #ccc;
margin:5px 0;
}

.edit a{
cursor:pointer;
color:#399dfa;
}
#rainbow input{
height:1.3em;
font-size:1.5em;
width:50%;
color:#999;
border:none;
border-bottom:solid 1px #999;
}
#rainbow textarea{
height:2em;
width:90%;
color:#666;
margin-top:5px;
border:dashed 1px #ccc;
}
#del{
color:red;
}
.shorturl{
color:blue;
text-transform:none;
}

.tweet{
background:#399dfa;
color:#fff;
text-transform:none;
text-decoration:none;
}
{% endblock %}

{% block content %}
<table width="100%" cellpadding="0">
    <tr height="100">
        <td width="120">
            <a href="/pictures/{{ image.id }}">
                <img src="{{ image.thumbnail }}" alt="{{ image }}" />
            </a>
        </td>
        <td align="left" id="rainbow">
            <h1>{{ image }}</h1>
            {% if image.detail %}
            <p>{{ image.detail }}</p>
            {% else %}
            <p><a href="{{ homepage }}">{{ image.user }}</a> said nothing.</p>
            {% endif %}
            <a href="/pictures/tweet/{{ image.id }}" class="tweet">Tweet it!</a>
        </td>
        <td valign="top">
            By: <a href="{{ homepage }}">{{ image.user }}</a>
            {% if editable %}
            <div class="edit">
                <a>Edit</a>
            </div>
            <a href="/pictures/delete/{{ image.id }}" id="del">Delete</a>

            {% endif %}
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <a href="{{ image.fullsize }}">
                <img src="{{ image.medium }}" alt="{{ image }}" />
            </a>
        </td>
        <td valign="bottom" width="110">
            <ul>
                <dt>size</dt>
                <li>{{ image.width }}x{{image.height}}</li>
                {% if image.shorturl %}
                <dt>shorturl</dt>
                <li>
                <a class="shorturl"  href="http://{{ image.shorturl }}">{{ image.shorturl }}</a>
                </li>
                {% endif %}
                <dt>date</dt>
                <li>{{ image.uploaded_at|date:"Y,M" }}</li>
                <li id="day">{{ image.uploaded_at|date:"d" }}</li>
                <li id="time">{{ image.uploaded_at|date:"g A" }}</li>
                
            </ul>
        </td>
    </tr>
    {% if moreimages %}
    <tr>
        <th colspan="2">
            More pictures by <a href="{{ homepage }}">{{ image.user }}</a>
        </th>
    </tr>
    <tr>
        <td id="moreimages" colspan="2">
            {% for img in moreimages %}
            <a href="/pictures/{{ img.id }}">
                <img src="{{ img.thumbnail }}" alt="{{ img }}" />
            </a>
            {% endfor %}
        </td>
        <td id="moreimageright">
            More 
        </td>
    </tr>
    {% endif %}
</table>


{% endblock %}

{% block script %}
$('.edit a').live('click',function(){
var root=$(this).parents('tr');
var title=root.find('h1');
var detail=root.find('p');
var cancel=$('<a>cancel</a>').click(
function(){
root.find('input').replaceWith('<h1>'+root.data('title')+'</h1>');
root.find('textarea').replaceWith('<p>'+root.data('detail')+'</p>');
$(this).parent().empty().append('<a>Edit</a>');
}
)
if($(this).text()=='Edit'){
root.data('title',title.text());
root.data('detail',detail.html());
$(this).text('confirm').parent().append('<br/>').append(cancel);
title.replaceWith($('<input/>').val(title.text()));
detail.replaceWith($('<textarea></textarea>').val(detail.text()));
root.find('input').focus();
}
else if($(this).text()=='confirm'){
root.data('title',root.find('input').val());
root.data('detail',root.find('textarea').val());
cancel.click();
root.find('.edit').html('<img src="/static/images/loading.gif"/>')

$.post(root.find('img').parent().attr('href'),{'title':root.find('h1').text(),
'detail':root.find('p').text()},
function(data){
var d=eval(data)
root.find('h1').text(d[0]);
if(d[1] && d[1].length>0) root.find('p').text(d[1]);
else root.find('p').html('<a href="{{ homepage }}">{{ image.user }}</a> said nothing.')
root.find('.edit').html('<a>Edit</a>');
}
)
}
})
$('#rainbow h1,#rainbow p').click(function(){
var ref=$('.edit a')
if(ref.text()=='Edit') ref.click();
})
$('.tweet').live('click',function(){
            var ts=$(this)
            window.open(ts.attr('href'),"Tweet it!",'height=800, width=800, toolbar=no, menubar=no,location=no, status=no')
            return false
        })

{% endblock %}
