body{
    background:#d4ffaa;
}
input{width:100%;background:transparent;border:none;}
#todoicon{
    background:url(/static/todos/input_l.png) no-repeat;
}
#inputwrap{
    background:url(/static/todos/input_mid.png);
}
#confirm{
    background:url(/static/todos/input_r.png) no-repeat;
}
#headbar{
    background:rgba(255,255,255,0.4);
    position:fixed;
    left:0;
    right:0;
    top:0px;
    padding:5px;
    -webkit-box-shadow: 0 2px 2px #999;
    -webkit-transition: top 0.4s ease-in-out;
}
.bn{top:0;}
.input{top:0}
.new{
    background:url(/static/todos/new.png) no-repeat;
    height:34px;
    width:95px;
    float:right;
}
table{opacity:0}
.cancel{background:url(/static/todos/cancel.png) no-repeat}
.loading{
    background:url(/static/todos/loading.gif);
    height:7px;left:0;right:0;margin:-5px;
}
table,.loading{-webkit-transition:opacity 0.4s ease-in-out}
