.box_delay_0{
    -webkit-transition-delay:0;
}
.box_delay_1{
    -webkit-transition-delay:0.1s;
}
.box_delay_2{
    -webkit-transition-delay:0.2s;
}
.box_delay_3{
    -webkit-transition-delay:0.25s;
}
.box_delay_4{
    -webkit-transition-delay:0.3s;
}
#metro{
    -webkit-perspective:500px;
    -webkit-perspective-origin: 0px 100px 0;
}
#metro div{
    -webkit-transform: translate3d(400px,10px,-300px) rotateY(45deg); 

    -webkit-transform-style:preserves-3d;
    opacity:0;
}
#metro div.show{
    -webkit-transition-property:-webkit-transform,opacity;
    -webkit-transition-duration:0.2s;
    -webkit-transition-timing-function:ease-out;
    -webkit-transform-origin:left center 0;
    -webkit-transform: translate3d(0,0,0); 
    opacity:1;
}
#metro div:hover
{
    -webkit-transform: rotateY(5deg);
}
h1{
    opacity:0;
}
h1.show{
    -webkit-transition:opacity 0.4s ease-out 1s;
    opacity:1
}
