body{
    background:#eee;
    margin:0;
	font-family:Georgia, "Times New Roman", Times, serif;
}
#header-wrap{
    background:url(/static/images/gradient.png) center bottom #399dfa;
    -webkit-box-shadow:1px 1px 10px #999;
    -moz-box-shadow:1px 1px 10px #999;
    -o-box-shadow:1px 1px 10px #999;
    box-shadow:1px 1px 10px #999;
}
#header,#content,#footer{
    width:720px;
    margin:0 auto;
}
#header{
    height:420px;
}
h1{
    font-size:4em;
    font-weight:normal;
    margin:0;
    padding:20px 10px;
}


#metro td{
    height:110px;
    width:110px;
    overflow:show;
}
#metro td.hlong{
    width:230px;
}
#metro td>div{
    background:#fff;
    width:100%;
    height:100%;
    cursor:pointer;
    border:solid 1px;
    border-color:#fff #aaa #aaa #fff;
}
#content{
    background: url(/static/images/ruler_black.png) no-repeat;
    min-height: 400px;
}
#search-wrap{
    background:url(/static/images/search-back.png) center bottom no-repeat;
    height:33px;
    padding:0 0 0 15px;

}
#search{
    border:none;
    width:100%;
    font-size:14px;
    background:transparent;
}
#search:focus
{outline:none;}
#search_submit
{
    background:url(/static/images/search.png) center center transparent;
    border:none;
    width:30px;
    height:30px;
    cursor:pointer;
}

