<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>diumoo | Yet another douban radio client</title>
        <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
        <style type="text/css">
            body{background:#eee}
            .container{width:720px;}
            .content{background:#fff;border:solid 2px #ccc;padding:20px 20px 100px 20px}
            .copyright{text-align:right; padding:1em}
            .version{text-align:center}
        </style>
    </head>
    <body>

        <div class="alert-message info">
            <p class="version"><strong>LATEST UPATED AT:</strong>
                2011-12-31
            </p>
        </div>
        <div class="container">
            <div class="content">
                <div class="page-header">
                    <h1>diumoo
                        <small>Yet another douban radio client.</small>
                    </h1>
                </div> 
                <div class="row">
                    <div class="span4">
                        <img src="/static/diumoo/icon.png" alt=""  width="200" height="200"/>
                        <br />
                        <p >
                        <a href="/static/diumoo/diumoo.zip" class="btn info">DOWNLOAD 1.0 Preview</a>
                        </p>
                    </div>
                    <div class="span7">
                        <h2>Introduction
                            <small>Just for mac</small>
                        </h2>
                        <p>
                        diumoo 是一个专为 Mac OS X 设计的豆瓣电台客户端，除了提供豆瓣电台最基本的功能外，还致力于添加优化用户体验以及新鲜有趣的新功能。
                        </p>
                        <p>
                        diumoo现在处于测试阶段，我们正努力将其完善并增强稳定性。欢迎大家下载测试并反馈Bug和建议，我们将参照大家的意见，对其进行进一步的修改。
                        </p>

                        <h2>Features
                            <small>All you want is here!</small>
                        </h2>
                        <ol>
                            <li>播放包括DJ兆赫在内的所有兆赫
                            <span class="label success">NEW</span>
                            <span class="label notice">[NOTICE 3]</span>
                            </li> 
                            <li>显示大幅唱片集画面
                            <span class="label success">NEW</span>
                            </li>
                            <li>
                            DesktopWave
                            在桌面上显示音乐波纹
                            <span class="label success">NEW</span>
                            </li>
                            <li>模拟iTunes发布播放器状态消息，更新iChat状态
                            <span class="label success">NEW</span>
                            </li>
                            <li>快捷进行Google搜索和发送到Twitter
                            <span class="label notice">[NOTICE 4]</span>
                            </li>
                            <li>支持多媒体控制键</li>
                            <li>Growl消息显示</li>
                            <li>音乐渐隐渐出</li>
                            <li>登陆豆瓣账户</li>
                            <li>保存用户名密码到系统钥匙串</li>
                        </ol>
                        <h2>Notice
                            <small>What you should know</small>
                        </h2>
                        <ol>
                            <li>
                            diumoo的控制面板集中在Menubar上的图标中
                            </li>
                            <li>
                            目前的测试版可能有些不稳定，容易崩溃
                            </li>
                            <li>
                            豆瓣电台DJ兆赫的列表可能会更新，diumoo暂时不包含自动更新此列表的功能。
                            </li>
                            <li>
                            快捷发送到Twitter的功能需要安装有Twitter for Mac才能生效。
                            </li>
                        </ol>
                        <h2>Download
                            <small>Try it now!</small>
                        </h2>
                        下载diumoo应用程序请访问
                        <a href="/static/diumoo/diumoo.zip">这里</a>。解压后直接拖动到“应用程序”文件夹即可。
                        <h2>Feed back
                            <small>Tell us what do you want!</small>
                        </h2>
                        意见和建议请发送到此
                        <a href="mailto:ant.sz@xdlinux.info" >邮箱</a>
                        或在Twitter上直接与我交流(@ant_sz)。
                    </div>
                </div>
            </div>
            <div class="copyright">
                Copyright 2011-2012 | ant_sz
                <br />
                All right reserved
            </div>
        </div>
    </body>
</html>
