#header .row-2 .col-1 { width:228px;}
#header .row-2 .col-2 { width:259px;}
#header .row-2 .col-3 { width:457px; padding-top:30px;}

/*======= index-2.html =======*/
#page3 #content .col-1 {width:188px; margin-right:53px;}
#page3 #content .col-2 { width:188px;}


/*=========================*/


