{% extends "pictures/index.html" %}
{% block title %}
Short URL
{% endblock %}

{% block content %}
<h1>Short URL</h1>
<p>
Shorten your long link into a short URL with in 10 letters which starts with 
<a id="root_link" href="http://{{ short_url_root }}/">{{ short_url_root }}/</a>.
If the given link is already a short one, it will be expanded to its origin.
</p>
<form id="linkf" action="" method="post" accept-charset="utf-8">
    <input type="text" name="url" id="link" placeholder="Paste your LINK here!" autocomplete="off"/>
</form>
<div id="geturl_wrapper">
    <div id="geturl_inner">
        <div id="geturl" class="blue">Waiting</div>
        <div id="shorturl" class="green">&nbsp;</div>
    </div>
</div>
{% endblock %}
{% block extern_style %}
<style type="text/css">
    #root_link{
        color:#99F;
        font-size:1.2em;
    }
    form{
        margin-top:200px;
    }
    input{
        height:30px;
        font-size:24px;
        color:#999;
        width:715px;
        border:1px solid #ccc;
    }
    #geturl_wrapper{
        overflow:hidden;
        height:1em;
    }

    #geturl_inner{
        -webkit-transition:margin-top 0.2s ease-in-out;
    }
    #geturl_inner.processing{
        margin-top:-1em;
    }
    #geturl_inner div{
        color:white;
        text-align:center;
        height:1em;
        width:100%;
        overflow:hidden;
    }
    .loading{
        background-color:#aaa;
    }
    #geturl,#shorturl{
        cursor:pointer;
        -webkit-transition:background-color 0.4s ease-in-out;
    }
</style>
{% endblock %}
{% block script %}
$('#link').bind('keyup',function(){
$('#geturl_inner').removeClass('processing');
var link=$('#link').val().replace(/^(http|https|ftp):\/\//,'')
    if(!link.match(/^((\w|d)+\.)+\w+(\/\S*)?$/)) $('#geturl').text('Invalid URL')
    else if(link.length>12) $('#geturl').text('Get Short URL')
    else if(link.length==0) $('#geturl').text('Waiting')
    else {
    if($('#link').val().match(/(is\.gd|bit\.ly|t\.co|isnot\.tk|goo\.gl)\/(\w|\d){1,15}$/))
        $('#geturl').text('Expand it!')
    else  $('#geturl').text('The URL is not long enough')
    }
})
$.ajaxSetup({
'error':function(){
alert('Error!\nPlease make sure a correct URL is given!')
$('#geturl_inner').removeClass('processing');
}
})
$('#linkf').submit(function(){
$.post('',{'url':$('#link').val()},
function(data){
var obj=eval(data);
if(typeof(obj.longurl)!='undefined') url=obj.longurl;
else url=obj.shorturl;
$('#shorturl').empty().append($('<a></a>').text(url).attr('href',url)).removeClass('loading');
});
return false;
})
$('#geturl').click(function(){
    if($(this).text()=='Get Short URL'||$(this).text()=='Expand it!'){
    $('#shorturl').text('').addClass('loading')
    $('#geturl_inner').addClass('processing')
    $('#linkf').submit();
    }
})


{% endblock %}

